{% extends 'base.html' %}



  {% block main %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{{ products.photo.url }}" class="card-img-top" alt="Flowers"/>
      <div class="card-body">
        <h5 class="card-title">{{ products.name }}</h5>
        <p class="card-text">
          {{ products.description}}
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{ products.created_at }}</small>
      </div>
    </div>
  </div>
</div>
  {% endblock main %}